.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 25px auto;

}

.userCard {
  border: 3px solid black;
  width: 300px;
  height: 350px;
  margin: auto;
}

.userCard img {
  width: 125px;
  border: 1px solid black;
}

.hideFollowers {
  display: none;
}

.followers {
  display: flex;
  flex-wrap: wrap;
}



.followerCard {
  border: 3px solid black;
  width: 300px;
  height: 300px;
  margin: 25px;
}

.followerCard img {
  width: 125px;
  border: 1px solid black;
}






